<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title + ' - StudentManagement'}"></title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/styles.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center mr-5" href="/studentsystem">
            <img th:src="@{/main_icon.png}" width="40" height="40" class="d-inline-block align-top mr-2" alt="Student Icon">
            <span class="app-name m-0 p-0">StudentManagement</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a th:attr="class=${dashboardActive != null ? 'nav-link active' : 'nav-link'}" href="/studentsystem">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:attr="class=${studentsActive != null ? 'nav-link active' : 'nav-link'}" href="/studentsystem/students">Students</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:attr="class=${coursesActive != null ? 'nav-link active' : 'nav-link'}" href="/studentsystem/courses">Courses</a>
                </li>
                <li class="nav-item">
                    <a th:attr="class=${mentorsActive != null ? 'nav-link active' : 'nav-link'}" href="/studentsystem/mentors">Mentors</a>
                </li>
            </ul>
            <span class="navbar-text dropdown">
                <a class="nav-link dropdown-toggle d-flex align-items-center pl-0"
                    href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
                    <span th:text="${session.username}" class="mr-2"></span>
                    <img th:src="@{/student_icon.png}" class="rounded-circle" height="30"
                         alt="Admin Icon"/>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li>
                            <form th:action="@{/logout}" method="post">
                                <button class="dropdown-item" th:type="submit">Logout</button>
                            </form>
                        </li>
                </ul>
            </span>
        </div>
    </div>
</nav>
<div class="container mt-2">
    <div layout:fragment="content">
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>